@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic,400italic);

.logo-tableles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

html, body {
  height: 100%;
  background: #E5E5E5;
}

.gallery {
  position: relative;
  height: 100%;
}
.gallery .item {
  display: table;
  vertical-align: middle;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.limit {
  display: table-cell;
  vertical-align: middle;
}

article {
  background: #FFF;
  max-width: 850px;
  margin: 0 auto;
  padding: 50px;
}

article h1 {
  margin: 0 0 30px;
  padding: 45px 0 0;
  font: 100 2em "Lato", helvetica, arial, tahoma, sans-serif;
  font-weight: 100 !important;
  color: #E73D31;
  position: relative;
  text-transform: uppercase !important;
}

article h1:before {
  position: absolute;
  top: -120px;
  left: 50%;
  margin-left: -72px;
  display: block;
  background-color: #E73D31; 
  color: #FFF;
  width: 100px;
  height: 100px;
  padding: 20px;
  line-height: 100px;
  font-size: 70px !important;
}
article h2 {
  margin: 0 0 30px;
  font: 300 2em "Lato", helvetica, arial, tahoma, sans-serif;
  font-weight: 300 !important;
  color: #666;
  position: relative;
}

article p {
  font: 0.9em/1.7em helvetica, arial, tahoma, sans-serif;
  color: #666;
  text-align: left;
}

.info {
  margin-top: 25px;
}
.info :before {
  display: block;
  font-size: 3em;
}

.info [class*="icon-"] {
  display: inline-block; 
  margin-left: 25px;
  color: #333;
}

.middleEqual {
  color: #333;
  font-size: 3em;
  display: inline-block;
  padding: 0 20px;
  vertical-align: top;
}


.gallery .controls {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 0.02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color 0.1s;
}

.gallery .control-button {
  color: rgba(0, 0, 0, 0.3) !important;
}

.gallery .control-button:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

