@import url(http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700);

.logo-tableles {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

* {
	margin: 0;
	padding: 0;
}
html, body {height: 100%;}
body {
	background: #E2E0E1;
	color: #3C4552;
}

#slider { height: 100% !important;}

.rsSlide {
	padding-top: 30px;
	display: table;
	width: 100%;
}

.rsContent {
	display: table-cell;
	vertical-align: middle;
}

h1 {
	font: 700 3em/1em Lato, arial, verdana, sans-serif;
	max-width:70%;
	margin:  0 auto;
}
h2 {
	font: 400 1.8em/0.8em Lato, arial, verdana, sans-serif;
}

p {
	font: 300 1.3em/1.8em Lato, arial, verdana, sans-serif;
	max-width:70%;
	margin:  30px auto;
}

li {
	font: 300 1.3em/1.8em Lato, arial, verdana, sans-serif;

}

nav {
	border: 1px solid rgba(0,0,0,0.3);
	background: #FFF;
	width: 300px;
	margin: 20px;
	display: inline-block;
	vertical-align: middle;
}
nav h2 {
	background: rgba(0,0,0,0.8);
	padding: 20px;
	color:#FFF;
}
nav li {list-style: none;}
nav li a {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	text-decoration: none;
	display: block;
	padding: 10px;
	text-align: center;
	color: rgba(0,0,0,0.8);
}

/** ICONES **/
[class*="icon-"] {display: block; margin-bottom: 50px;}
.big[class*="icon-"]:before {font-size:5em;}
.rsContent > [class*="icon-"]:before {
	background: #3C4552;
	border-radius: 10px;
	padding: 30px;
	color: #FFF;
}

/** example on slide 2-1 **/
.info :before {
	display: block;
	font-size: 3em;
}

.info [class*="icon-"] {display: inline-block; margin-left: 25px;}

.middleEqual {
	font-size: 3em;
	display: inline-block;
	padding: 0 20px;
	vertical-align: top;
}

.rsMinW .rsBullets {
	right: 135px; 
	background: gray;
	padding: 5px;
	border-radius: 5px;
	bottom: 40px;
}
.rsMinW .rsArrow {
	bottom: 30px;
	background: gray;
	border-radius: 10px;
	padding: 0;
	width: 50px;
}

.rsMinW .rsArrowLeft {
	right: 70px;
}