<nav class="navside">
	<h3>Javascript</h3>
	<ul>
		<li><a href="{{ site.url }}/js/">O que é Javascript?</a></li>
		<li><a href="{{ site.url }}/js/inserindo-js.html">Como inserir Javascript na página?</a></li>
		<li><a href="{{ site.url }}/js/o-que-variaveis.html">O que são variáveis?</a></li>
		<li><a href="{{ site.url }}/js/operadores-logicos.html">Operadores lógicos</a></li>
		<li><a href="{{ site.url }}/js/funcoes.html">Funções</a></li>
		<li><a href="{{ site.url }}/js/arrays.html">Arrays</a></li>
		<li><a href="{{ site.url }}/js/o-que-objetos.html">O que são Objetos?</a></li>
		<li><a href="{{ site.url }}/js/o-que-framework.html">O que é Framework Javascript?</a></li>
		<li><a href="{{ site.url }}/js/o-que-jquery.html">O que é jQuery?</a></li>
	</ul>
</nav>