<nav class="navside">
	<h3>CSS</h3>
	<ul>
		<li><a href="{{ site.url }}/css/">O que é CSS?</a></li>
		<li><a href="{{ site.url }}/css/sintaxe-css.html">Sintaxe do CSS</a></li>
		<li><a href="{{ site.url }}/css/inserindo-css.html">Como inserir CSS na página?</a></li>
		<li><a href="{{ site.url }}/css/class-id.html">Diferença entre CLASS e ID</a></li>
		<li><a href="{{ site.url }}/css/seletores.html">Seletores encadeados e agrupados</a></li>
		<li><a href="{{ site.url }}/css/seletores-complexos.html">Seletores complexos</a></li>
		<li><a href="{{ site.url }}/css/box-model.html">Box Model</a></li>
		<li><a href="{{ site.url }}/css/background.html">Background</a></li>
		<li><a href="{{ site.url }}/css/font.html">Font</a></li>
		<li><a href="{{ site.url }}/css/overflow.html">Overflow</a></li>
		<li><a href="{{ site.url }}/css/display.html">Display</a></li>
		<li><a href="{{ site.url }}/css/margin-padding.html">Margin e Padding</a></li>
		<li><a href="{{ site.url }}/css/position.html">Position</a></li>
		<li><a href="{{ site.url }}/css/float-clear.html">Float e Clear</a></li>
	</ul>
</nav>