<nav class="navside" id="menu-js">
  <h3><a href="#menu-js">JavaScript</a></h3>
  <ul>
    <li><a href="index.html">O que é JavaScript?</a></li>
    <li><a href="inserindo-js.html">Inserindo JavaScript na página</a></li>
    <li><a href="variaveis.html">Variáveis</a></li>
    <li><a href="operadores.html">Operadores</a></li>
    <li><a href="funcoes.html">Funções</a></li>
    <li><a href="controles-de-fluxo-e-controles-de-repeticao.html">Controles de Fluxo e Controles de Repetição</a></li>
    <li><a href="arrays.html">Arrays</a></li>
    <li><a href="objetos.html">Objetos</a></li>
    <li><a href="o-que-framework.html">O que é um framework?</a></li>
    <li><a href="o-que-jquery.html">O que é jQuery?</a></li>
  </ul>
</nav>
