<nav class="navside" id="menu-css">
  <h3><a href="#menu-css">CSS</a></h3>
  <ul>
    <li><a href="index.html">O que é CSS?</a></li>
    <li><a href="sintaxe-css.html">Sintaxe do CSS</a></li>
    <li><a href="inserindo-css.html">Como inserir CSS na página?</a></li>
    <li><a href="class-id.html">Diferença entre CLASS e ID</a></li>
    <li><a href="seletores.html">Seletores encadeados e agrupados</a></li>
    <li><a href="seletores-complexos.html">Seletores complexos</a></li>
    <li><a href="box-model.html">Box Model</a></li>
    <li><a href="background.html">Background</a></li>
    <li><a href="font.html">Font</a></li>
    <li><a href="overflow.html">Overflow</a></li>
    <li><a href="display.html">Display</a></li>
    <li><a href="margin-padding.html">Margin e Padding</a></li>
    <li><a href="position.html">Position</a></li>
    <li><a href="float-clear.html">Float e Clear</a></li>
  </ul>
</nav>
