<nav class="navside">
	<h3>CSS</h3>
	<ul>
		<li><a href="css/">O que é CSS?</a></li>
		<li><a href="css/sintaxe-css.html">Sintaxe do CSS</a></li>
		<li><a href="css/inserindo-css.html">Como inserir CSS na página?</a></li>
		<li><a href="css/class-id.html">Diferença entre CLASS e ID</a></li>
		<li><a href="css/seletores.html">Seletores encadeados e agrupados</a></li>
		<li><a href="css/seletores-complexos.html">Seletores complexos</a></li>
		<li><a href="css/box-model.html">Box Model</a></li>
		<li><a href="css/background.html">Background</a></li>
		<li><a href="css/font.html">Font</a></li>
		<li><a href="css/overflow.html">Overflow</a></li>
		<li><a href="css/display.html">Display</a></li>
		<li><a href="css/margin-padding.html">Margin e Padding</a></li>
		<li><a href="css/position.html">Position</a></li>
		<li><a href="css/float-clear.html">Float e Clear</a></li>
	</ul>
</nav>