/* Background */
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
	background: transparent;
}


/***************
*
*  1. Arrows
*
****************/

.rsMinW .rsArrow {
	height: 44px;
	width: 30px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.rsMinW .rsArrowLeft { right: 39px; bottom: 2px; }
.rsMinW .rsArrowRight { right: 9px; bottom:2px; }

.rsMinW .rsArrowIcn {		
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	margin-top:-12px;	
	margin-left: -12px;

	position: absolute;	
	cursor: pointer;	
	background: url('rs-minimal-white.png');
	background-color: transparent;
}
.rsMinW .rsArrowIcn:hover {

}

.rsMinW.rsHor .rsArrowLeft .rsArrowIcn { background-position: -68px -36px; }
.rsMinW.rsHor .rsArrowRight .rsArrowIcn { background-position: -68px -68px; }

.rsMinW.rsVer .rsArrowLeft .rsArrowIcn { background-position: -96px -32px; }
.rsMinW.rsVer .rsArrowRight .rsArrowIcn { background-position: -96px -64px; }

.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: .3; }


/***************
*
*  2. Bullets
*
****************/

.rsMinW .rsBullets {
	position: absolute;
	z-index: 35;
	bottom: 18px;
	right: 78px;
	width: auto;
	height: auto;
	text-align: left;
	overflow: hidden;
	line-height: 8px;
}
.rsMinW .rsBullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 50%;
	background: #aaa;
	background: rgba(255,255,255,0.6);

	*display:inline; 
	*zoom:1;
}
.rsMinW .rsBullet.rsNavSelected  {
	background: #FFF;
}
