.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4); }

.gallery .control-button:first-of-type {
  color: white;
  color: rgba(255, 255, 255, 0.8); }

.gallery .item:first-of-type {
  position: static;
  opacity: 1; }
.gallery .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s; }
.gallery .control-operator {
  display: none; }
.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  animation: none; }
.gallery .control-operator:target ~ .controls .control-button {
  animation: none; }
